.Desktopcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.Tabletcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  max-width: 450px;
  padding: 20px 20px;
  position: relative;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/bg-light.png");
  background-size: fill;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.logo {
  /* margin-top: 10px; */
}

.avatar {
  margin-top: 20px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f1304d;
  /* border-image: linear-gradient(134.12deg, #f1304d 12.36%, #3e64ff 86.08%) 1; */
  padding: 10px;
}

.name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #929292;
}

.buttonText {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}

.button1,
.button2 {
  flex: 1;
  background: #f1304d;
  box-shadow: 5px -1px 49px 2px rgba(241, 48, 77, 0.2);
  border-radius: 3px;
  padding: 10px;
}
.buttonContainer .button1 {
  margin-right: 20px; /* Add margin-right to create space */
}

.buttonContainer .button2 {
  background: #1b1b1b;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.links {
  margin-bottom: 20px;
  width: 100%;
}

.socialLinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  margin-bottom: 20px;
}

.bio {
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer {
  color: #b1b1b1;
  font-size: 13px;
}
